*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    background:#2c3e50;
    color:white;
    padding:20px;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin-bottom:30px;
    font-size:1.2rem;
}

button{
    padding:15px 30px;
    border:none;
    background:#27ae60;
    color:white;
    font-size:1rem;
    border-radius:8px;
    cursor:pointer;
}